ul {
  list-style: none;
}

#root {
  padding: 20px;
  width: auto;
}

h1, h3 {
  color: white;
}

#root ul li.content {
  padding: 5px;
  font-size: large;
  font-family: 'Sansita Swashed', cursive;
  color: white;
}